# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Responda: É possível ter elementos de tipos difentes em uma mesma lista? Exemplo: strings e números?
R - Sim !

In [1]:
lista = ['Rua do Carmo', 546]
lista

['Rua do Carmo', 546]

2) Trabalhando com Listas, faça:
- a) Cria uma lista de valores inteiros com o **nome** e **idades**.
- b) Imprima apenas segundo elemento da lista.
- c) Imprima a quantidade de elementos da lista.
- d) Substitua o valor do segundo elemento da lista e imprima o resultado.
- e) Imprima apenas os valores do segundo elemento em diante.
- f) Remova qualquer elemento da lista e imprima o resultado.
- g) Defina uma lista chamada salarios com os valores : **900,1200,1500,800,12587,10000**.
- h) Verifique se contém o valor 10000 na lista de salarios.
- i) Imprima o menor e maior valor da lista.
- j) Adicione o valor 7000 a lista.
- l) Extenda a lista com dois novos elementos utilizando apenas um método.
- m) Imprima o índice do elemento de valor 800 da lista de salarios.
- n) Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [21]:
lista_a = ['Laura',23]
lista_a

['Laura', 23]

In [3]:
lista_a[1]

23

In [4]:
len(lista_a)

2

In [22]:
lista_a[1] = 32
lista_a[1]

32

In [23]:
print(lista_a[1:])

[32]

In [24]:
lista_a.remove('Laura')
lista_a

[32]

**Ao tentar remover o segundo índice da minha lista (valor 32) o python me retornou o seguinte erro. Você poderia me ajudar a entender?**
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-15-25823bb013a5> in <module>
----> 1 lista_a.remove(32)
      2 lista_a

ValueError: list.remove(x): x not in list

In [25]:
salarios = [900, 1200, 1500, 800, 12587, 10000]
salarios

[900, 1200, 1500, 800, 12587, 10000]

In [26]:
salarios.count(10000)

1

In [29]:
max(salarios)

12587

In [30]:
min(salarios)

800

In [35]:
salarios.append(7000)

In [38]:
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000]

In [41]:
salarios.extend([12,36])

In [43]:
salarios += (13,5)

In [45]:
salarios

[900, 1200, 1500, 800, 12587, 10000, 7000, 2, 4, 2, 4, 12, 36, 13, 5]

In [46]:
salarios.index(800)

3

In [48]:
salarios.sort()

In [49]:
salarios

[2, 2, 4, 4, 5, 12, 13, 36, 800, 900, 1200, 1500, 7000, 10000, 12587]

In [50]:
salarios.sort(reverse=True)

In [51]:
salarios

[12587, 10000, 7000, 1500, 1200, 900, 800, 36, 13, 12, 5, 4, 4, 2, 2]

3) Trabalhando com dicionários:
- a) Crie um dicionário para armazenar o nome e a idade de pessoas, Exemplo:
    pessoas = {'Rodrigo':30, 'Fulana':18}
- b) Imprima a idade da pessoa "Fulana"
- c) Imprima as Chaves do dicionario criado anteriormente.
- d) Imprima os valores das chaves do dicionário
- e) Busque a chave "Felipe" se ela não existe insira esta e o valor 30 (obs: use o método setdefault())

In [2]:
dados = {'Lais':25, 'Fulana':34, 'Ruan':16}
dados

{'Lais': 25, 'Fulana': 34, 'Ruan': 16}

In [4]:
dados['Fulana']

34

In [6]:
dados.keys()

dict_keys(['Lais', 'Fulana', 'Ruan'])

In [7]:
dados.values()

dict_values([25, 34, 16])

In [10]:
dados.setdefault('Felipe', 30)

30

4) Estruturas condicionais:
- a) Verifique se 5 é maior que 1, se sim, imprima "5 é maior que 1"
- b) crie as variávies x1 e y1, defina dois valores quaisquer para as duas variáveis. 
  Verifique se x1 é maior que y1. Se sim, imprima "x1 é maior que y1", senão imprima: "y1 é maior que x1"
- c) Crie uma lista de valores como [2,3,4,5,6,7] e faça um loop para imprimir todos os valores na tela multiplicados por 2.

In [11]:
if(5 > 1):
    print('5 e maior que 1')

5 e maior que 1

In [21]:
x1, y1 = 13, 9

In [22]:
if(x1 > y1):
    print('x1 e maior que y1')
else:
    print('y1 e maior que x1')

x1 e maior que y1

In [31]:
lista = [2, 3, 4, 5, 6, 7]
for i in range(len(lista)):
    print(i, lista[i] * 2)

0 4
1 6
2 8
3 10
4 12
5 14

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**